
.App {
  text-align: center;
  
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  /* min-height: 100vh; */

}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

.nav-icon {
  font-size: 60px;
  margin: 15px;
  color: black;
}

.nav-crow:hover{
  transform: rotate(360deg);
  transition: .6s;
}

.nav-icon:hover {
  color: mediumturquoise;
  transition: 0.3s;

}

.login{
  height: 200px;
  width: 175px;
  border-radius: 25px;
  background: goldenrod;
  box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.63);
  text-align: center;  
  position: relative;
}

.login-item{
  margin: 10px;
}

.nav-container{
  display: flex;
  justify-content: center;
}

.navbar {
  margin-top: 25px;
  text-align: center;
  position: relative;
  width: 400px;
}

.avatar {
  width: 70px;
  border-radius: 50%;
  box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.63);

}

.footer{
  text-align: center;
  padding-top: 14px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
}

.footer-icon{
  font-size: 20px;
  margin: 5px;
  color: black;
}

.footer-icon:hover{
  color:blue 
}

.footer-icon-plain{
  font-size: 20px;
  margin: 5px;
  color: black;
}

.choosie-image{
  height: 300px;
  margin: 30px;
}

.choosie-card{
  text-align: center;
  height: 600px;
  width: 500px;
  border-radius: 15px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 28%, rgba(253,187,45,1) 99%);
  box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.63);
}

.choosie-title{
  padding-top: 50px;
  font-size: 50px;
}

.choosie-button{
  margin: 50px;
}

.chooser-input{
  text-align: center;  
  position: relative;
  margin: 15px;
  /* margin-top: 200px; */
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  font-size: 25px;
  width: 300px;
  border-style: solid;
}

.chooser-input:focus{
  border-style: solid;
  border-width: 8px;
  border-color: mediumturquoise;
  transition: 0.3s;
}
.chooser-num-select{
  text-align: center;
  margin: 15px;
  height: 40px; 
  padding: 10px; 
  border-radius: 20px; 
  background: transparent;
}

chooser-input-form:focus{
  border-style: solid;
  border-width: 8px;
  border-color: mediumturquoise;
  transition: 0.3s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity: 1; /* Firefox */
}

.chooser-input-form{
  text-align: center;
  padding: 5px;
  background-color: transparent;
  font-size: 25px;
  width: 100px;
  border-style: solid;
  border-radius: 20px;
}


#chooser-input-title{
  margin: 15px;
}

.item-image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.63); 
  transition: 0.2s;
}

.item-card{
  height: 350px;
  text-align: center;
  border-style: solid;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.63);
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 28%, rgba(253,187,45,1) 99%);
  width: 250px;
}

.item-card:hover{
  border-width: 6px;
  border-color: salmon;
  transition: 0.3s
}

.item-movie-image {
  height: 220px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.63); 
  transition: 0.2;
}

.places-form{
  width: 500px;
}

.places-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
}

turn-counter{
  text-align: center;
}