
.App {
  text-align: center;
  
}



.nav-icon {
  font-size: 60px;
  margin: 15px;
  color: black;
}

.login{
  height: 200px;
  width: 175px;
  border-radius: 25px;
  background: goldenrod;
  box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.63);
  text-align: center;
  margin-top: 400px;
  margin-left: 450px;
}

.login-item{
  margin: 10px;
}

.navbar {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 150px;
  margin-left: 600px;
}

.avatar {
  width: 70px;
  border-radius: 50%;
}

.footer{
  text-align: center;
  padding-top: 14px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
}

.footer-icon{
  font-size: 20px;
  margin: 5px;
  color: black;
}

.footer-icon:hover{
  color:blue 
}

.footer-icon-plain{
  font-size: 20px;
  margin: 5px;
  color: black;
}

.choosie-image{
  height: 300px;
  margin: 30px;
}

.choosie-card{
  height: 600px;
  width: 500px;
  border-radius: 15px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 28%, rgba(253,187,45,1) 99%);
  box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.63);
}

.choosie-title{
  padding-top: 50px;
  font-size: 50px;
}

.choosie-button{
  margin: 50px;
}

.chooser-input{
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  border: none 
}
.chooser-num-select{
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity: 1; /* Firefox */
}

#chooser-input-title{
  margin: 15px;
}